@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
    --textFont: 1rem;
    --mainBorder: 1px solid hsl(30, 54%, 90%);
    --mainMargin: 25px;
}

body {
    width: 100%;
    background-color: var(--stone100);
    padding: 110px 10px;
    font-family: "Outfit", sans-serif;
    font-size: var(--textFont);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    body {
        padding: 10px;
    }
}

@media (max-width: 375px) {
    body {
        padding: 0;
    }
}

ul,
ol {
    list-style-position: inside;
}

.card {
    width: 600px;
    background-color: var(--white);
    border-radius: 10px;
    padding-bottom: var(--mainMargin);
}

@media (max-width: 375px) {
    .card {
        width: 100%;
        border-radius: 0;
    }
}

.card__sec {
    margin-inline: var(--mainMargin)
}

.card__desc {
    border-radius: inherit;
}

.card__img {
    width: calc(100% - var(--mainMargin) * 2);
    height: fit-content;
    border-radius: inherit;
    margin: var(--mainMargin) var(--mainMargin) 0;
}

@media (max-width: 375px) {
    .card__img {
        width: 100%;
        margin: 0;
    }
}

.card__rec-name,
.card__sub-title {
    font-family: "Young Serif", serif;
    text-transform: capitalize;
    margin-block: var(--mainMargin);
}

.card__rec-name {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--stone900);
}

.card__rec-desc {
    color: var(--stone600);
}

.card__prep-time {
    background-color: var(--rose50);
    padding: 20px;
    margin: var(--mainMargin);
    border-radius: 10px;
    line-height: 1.9;
    color: var(--stone600);
}

.card__prep-time h2 {
    font-size: 1.1rem;
    color: var(--rose800);
    line-height: 1;
    margin-bottom: 10px;
}

.card__prep-time h3,
.card__instructions h3 {
    display: inline-block;
    font-size: var(--textFont);
    margin-left: 10px;
}

.card__sub-title {
    color: var(--brown800);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}

.card__ingred,
.card__instructions {
    border-bottom: var(--mainBorder);
    padding-bottom: 10px;
    line-height: 1.9;
    color: var(--stone600);
}

.card__instructions {
    font-weight: 700;
}

.card__instructions span {
    font-weight: normal;
}

table {
    width: 100%;
    color: var(--stone600);
}

table caption {
    text-align: left;
    margin-bottom: var(--mainMargin);
}

table tr:not(:last-of-type) td {
    border-bottom: var(--mainBorder);
}

table tr td {
    padding: 5px;
    text-transform: capitalize;
}

table tr td:first-of-type {
    padding-left: 15px;
}

table tr td:nth-child(2) {
    color: var(--brown800);
    font-weight: bold;
}